[submodule ".registry"]
	path = .registry
	url = https://github.com/statsrhian/statsrhian.r-universe.dev
	branch = HEAD
[submodule "levelup"]
	path = levelup
	url = https://github.com/statsrhian/levelup
